<div class="page-header">
  <h2>Resend confirmation instructions</h2>
</div>

<div class="well">
  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <%= f.input :email, label: 'Adresse email', error: 'Veuillez spécifier une adresse email valide', required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Resend confirmation instructions" %>
      </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>