<% if can? :manage %>
  <div class="pull-right">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Modifier l'article",  edit_article_path(@article) %>
          </li>
          <li>
            <%= link_to "Nouvel article", new_article_path(@article) %>
          </li>
          <li>
            <%= link_to "Revenir aux articles", articles_path %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<% end %>

  <%#= markdown(@article.text) %>

<div class="page-header">
  <h2><%= @article.titre %></h2>
</div>

<div class="well">
  <p><%= @article.contenu %></p>
</div>

<p class="text-right">
  <button type="button" class="btn btn-default">
    <a class="titre" href="/">Revenir à la liste des articles</a>
  </button>
  <span class="glyphicon glyphicon-chevron-up"></span>
</p>